.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    width: 100%;
    position: static;
    box-sizing: border-box;
    color: white;
    margin-left: -33px;
    margin-top: 60px;
    margin-bottom: -45px;
    margin-right: 10000010px;
    padding: 20px;
    padding-left: -100px;
    padding-right: 10000000px;
    
}

.foot-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-left: 60px;
    margin-top: 40px;
}

.foot-image {
    width: 100px;
    height: auto;
    margin-bottom: 10px; 
}

.foot-logo-text ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    margin-bottom: 120px;
}

.foot-logo-text li {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: white;
    text-align: left;

}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 200px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

.footer-links ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    margin-bottom: 120px;
}

.footer-links li {
    margin: 0.2rem 0;
    text-align: left;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
    border-bottom: 3px solid #ff5e00; 
    color: inherit;
}

.footer-copyright {
    text-align: center;
    margin-top: auto; 
    padding-top: 10px;
    border-top: 1px solid #666; 
    margin-left: 250px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 150px;
    font-size: 12px;
}

.foot-link-head {
    font-weight: bold;
    font-size: 17px;
    color: orange;
    text-align: left;
    margin-top: 40px;
}

.footer-links2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 200px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    margin-right: -50px;
}

.footer-links2 ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    margin-bottom: 120px;
}

.footer-links2 li {
    margin: 0.2rem 0;
    text-align: left;
}

.footer-links2 a {
    color: white;
    text-decoration: none;
}

.footer-links2 a:hover {
    border-bottom: 3px solid #ff5e00; 
    color: inherit;
}

.footer-links3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 200px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    margin-right: 1000px;
}

.footer-links3 ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    margin-bottom: 120px;
}

.footer-links3 li {
    margin: 0.2rem 0;
    text-align: left;
}

.footer-links3 a {
    color: white;
    text-decoration: none;
}

.footer-links3 a:hover {
    border-bottom: 3px solid #ff5e00; 
    color: inherit;
}

