.content {
    margin-bottom: 1%; /* Adjust as needed */
}

.content h2, .content h1 {
    color: black;
    font-size: 2rem;
    margin-top: 2rem;
}

.head {
    color: black;
    font-family: monospace;
    font-size: 30px; /* Ensures font size is consistent */
    font-weight: bold;
    display: inline-block; /* Ensures it only takes up as much space as its content */
    position: relative;
}

.heading {
    display: inline-block; /* Makes the div shrink to fit its content */
    margin-bottom: 20px; /* Adjust as needed */
    text-align: left; /* Aligns the text to the left */
}

.head::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px; /* Adjust the height of the line */
    background-color: orange;
    position: absolute;
    left: 0;
    bottom: -5px; /* Adjust the position of the line */
    border-bottom: 4px dotted orange;
}

.landing-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.spacer {
    height: 500px;
}

.container {
    display: flex;
    justify-content: flex-start; /* Align items to the left */
    align-items: center; /* Align items to the center vertically */
    margin: 20px 0; /* Adjust margin as needed */
    margin-left: 30px;
    width: 100%; /* Ensure the container takes the full width */
}

.card {
    display: flex; /* Use flex to align icon and text horizontally */
    align-items: center; /* Center items vertically */
    width: auto; /* Adjust width to fit content */
    max-width: 80%; /* Ensure the card doesn't exceed a certain width */ /* Initial transparent border */
    border-radius: 13px; /* Rounded corners */
    padding: 20px;
    text-align: left; /* Align text to the left */
    transition: border-color 0.3s ease, background-color 0.3s ease;
    background: linear-gradient(145deg, #ff5e00 , #ff9c00);
}

.card:hover {
    transform: scale(1.01); /* Slightly increase the size of the card *//* Make the shadow larger and darker */
    background-color: orange; /* Change background color on hover if desired */ /* Ensure border color matches the background on hover */
}

.icon {
    font-size: 3rem; /* Adjust icon size as needed */
    margin-right: 10px; /* Space between icon and text */
    color: white;
}

.text {
    font-size: 1.2rem; /* Adjust text size as needed */
    font-family: Arial, sans-serif; /* Adjust font as needed */
    color: black;
}

.icon-content {
    font-family: monospace;
    text-align: left;
    font-size: 15px;
    color: white;
}

