.of-content {
    color:black;
    margin: -2%;
    font-family: monospace;
    text-align: left;
    font-size: 16px;
    right: 20%;
    margin-top: -3px;
    margin-left: 165px;
    margin-right: 30px;
    font-weight: 400;
}